/* ======================
        GLOBAL STYLES
   ====================== */

html,
body {
  font-family: "Raleway", sans-serif;
  background-color: #f7f4ea;
  line-height: 1.5;
  color: #675289;
  scroll-behavior: smooth;
}

#grid-container {
  display: block;
}

header {
  font-weight: 600;
  color: #5e939e;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
}

/* ======================
        NAV STYLES
   ====================== */

nav {
  position: relative;
  text-align: left;
  width: 100%;
  top: 0;
  left: 0;
  grid-area: nav;
  border: 4px solid #9073c1;
  box-sizing: border-box;
}

/* ======================
      CONTENT STYLES
   ====================== */

main {
  grid-area: main;
  margin: 20px 30px;
  text-align: justify;
}

code {
  display: block;
  text-align: left;
  position: relative;
  line-height: 2;
  padding: 10px;
  margin: 10px;
  width: auto;
  background: #f1f1f1;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

pre {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  max-height: auto;
  width: 400px;
  height: 250px;
}

/* ======================
      RESPONSIVE STYLES
   ====================== */

@media (min-width: 768px) {
  #grid-container {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-areas: "nav main";
  }

  nav {
    position: fixed;
    width: 280px;
    border: none;
    border-right: 4px solid #9073c1;
  }
}
