/* ======================
        GLOBAL STYLES
   ====================== */



html, body {
  font-family: "Raleway", sans-serif;
  background-color: #F7F4EA;
  line-height:1.5;
  color:#675289;
  scroll-behavior: smooth;
}


/* ======================
      SECTION STYLES
   ====================== */

  
/* ======================
      RESPONSIVE STYLES
   ====================== */
@media (min-width: 768px); {

}
